<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396853589000-b331k056hfnr9ig5pr72fbcpjca8b39i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396853589000-b331k056hfnr9ig5pr72fbcpjca8b39i</string>
	<key>API_KEY</key>
	<string>AIzaSyAJmeUL5loTZ9EO0l6AWhOmE7MtCnhqjRM</string>
	<key>GCM_SENDER_ID</key>
	<string>396853589000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Timofei-Iva.Taxi-clone</string>
	<key>PROJECT_ID</key>
	<string>gettaxi-6e486</string>
	<key>STORAGE_BUCKET</key>
	<string>gettaxi-6e486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396853589000:ios:ccbfbd19423fb56d050dbd</string>
</dict>
</plist>